<footer>

    <div class="footer-top">

        <div class="logo-container">

            <span>GHEMMA</span>

        </div>

        <div class="social-media">

            <span><img src="/icons/footer-icons/icons8-facebook.svg" alt="facebook icon"></span>
            <span><img src="/icons/footer-icons/icons8-instagram.svg" alt="instagram icon"></span>
            <span><img src="/icons/footer-icons/icons8-twitter.svg" alt="twitter icon"></span>

        </div>

    </div>

    <div class="footer-bottom">

        <p class="copy-text">Copyright &copy;2023 Ghemma. Todos los derechos reservados </p>

        <div class="designers">

            <p>
                designed by
                <a href="#" target="_blank" rel="noopener noreferrer">
                    Charli
                    <img src="/icons/footer-icons/icons8-linkedin.svg" alt="">
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    Juli
                    <img src="/icons/footer-icons/icons8-linkedin.svg" alt="">
                </a>
                and
                <a href="#" target="_blank" rel="noopener noreferrer">
                    Valentino

                    <img src="/icons/footer-icons/icons8-linkedin.svg" alt="">
                </a>
            </p>

        </div>

    </div>


</footer>