<!-- -->

<header class="main-header">

    <!-- <div class="header-conteiner"> -->


    <div class="bars-menu">


        <nav id="nav" class="main-nav" >
            <div class="nav-links" >
                <input class="search" type="text" name="buscar" id="buscar" placeholder="Buscar producto">
              <a class="link-item" href="#" >Tablets</a>
              <a class="link-item" href="#" >Computadoras</a>
              <a class="link-item" href="#" >Televisores</a>
              <a class="link-item" href="#" >Celulares</a>
              
            </div>
        </nav>
          <button id="button-menu" class="button-menu" >

            <span class="line1-bars-menu"></span>
            <span class="line2-bars-menu"></span>
            <span class="line3-bars-menu"></span>
    
        </button>
          

    </div>
    

    <div class="search-bar">
        <form method="POST" action="/search">
        
        <input class="search" type="search" name="buscar" id="buscar" placeholder="Buscar producto">
        <button type="submit"><img class="search-icon icon-nav" src="icons/nav-icons/icons8-search.svg" alt=""></button>
       
        
        </form>


    </div>



    <nav class="navegation-products">


      <!-- <a class="product-nav" href="/products/list">Productos</a> -->

        <a class="product-nav" href="/products/list/tablets">Tablets</a>

        <a class="product-nav" href="/products/list/notebooks">Computadoras</a>

        <a class="product-nav" href="/products/list/tvs">Televisores</a>

        <a class="product-nav" href="/products/list/smartphones">Celulares</a>


    </nav>

    <div class="logo-container">

        <a href="/"><img id="logo" src="/images/logo/Logo_Ghemma_alternativo.png" alt="Logo"> </a>

    </div>
    <div class="user-navegation">

        <% if(!locals.usuario) {%>
            <a href="/user/login">

                <img class="icon-person-login icon-nav" src="/icons/nav-icons/person.svg" alt="usualrio logo">

            </a>



            <%}else{ %>

                <div class="profile-img">

                    <img src="/images/userImages/<%= locals.usuario.profileImage  %>" alt="imagen de perfil de usuario">

                    <div class="image-hover">
                        <form action="/user/logout" method="POST">
                            <input class="logout" type="submit" value="Cerrar sesion">
                        </form>
                    </div>

                </div>


                <% } %>

                    <a href="/cart">

                        <img class="icon-bag icon-nav" src="/icons/nav-icons/shopping-bag.svg" alt="carrito">

                    </a>

    </div>

    <!-- </div> -->
    <script type="text/javascript" src="../js/header.js"></script>

</header>