<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>

    
<body>

    <%- include('partials/header.ejs') %>
    
        <main>
            
            <section class="cart-products">
                <H1 class="cart-title">Mi Carrito</H1>
                <article class="product">
                
                    <img src="/images/1366_2000.jpg" alt="Iphone 14" class="product-image">
                    
                    <a href="/product"><div class="product-name">Iphone 14</div></a>
                    <div class="product-quantity">
                         <input data-quantity="pop" type="submit" value="-" class="u-button-reset ui-quantity-selector__button" name="pop">
                    <input autocomplete="off" data-quantity="input" type="tel" value="1" class="input-quantity" name="quantity">
                <input type="submit" value="+" class="u-button-reset ui-quantity-selector__button" name="push">
                        
            
                    </div>
                    <div class="product-price-erase">
                        <p class="price">300000$</p>
                        <button type=erase class="erase-button">Eliminar</button>
                    </div>

                </article>
                <article class="product">
                    <img src="/images/Macbook-pro.jpg" alt="macbook pro" class="product-image">
                    <a href="/product"><div class="product-name">Macbook Pro</div></a>
                    <div class="product-quantity">
                        <input data-quantity="pop" type="submit" value="-" class="u-button-reset ui-quantity-selector__button" name="pop">
                    <input autocomplete="off" data-quantity="input" type="tel" value="1" class="input-quantity" name="quantity">
                <input type="submit" value="+" class="u-button-reset ui-quantity-selector__button" name="push">
                        
                </div>
                    
                <div class="product-price-erase">
                        <p class="price">400000$</p>
                        <button type=erase class="erase-button">Eliminar</button>
                    </div>

                </article>
            </section>
            <section class="summary">
                <h3 class="summary-title">Resumen de compra</h3>
                <div class="summary-info">
                <div class="info"><p>Subtotal</p> <p class="summary-price">700000$</p></div>
                <div class="info" id="envio"><p>Envio</p> <p class="summary-price">2200$</p></div>
                <div class="info"><p>Total</p> <p class="summary-price">702200$</p></div>
                </div>
                <button class="resume">Finalizar compra</button>

            </section>
        </main>

        <%- include('partials/footer.ejs') %>
    
</body>
</html>