<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>

    
<body>

    <%- include('partials/header.ejs') %>
    
        <main>
            
            <section class="cart-products">
                <H1 class="cart-title">Carrito de compras</H1>
                <article class="product">
                    <div class="image-container">
                    <img src="/images/1366_2000.jpg" alt="Iphone 14" class="product-image">
                </div>
                
                <div class="product-description">
                <div class="cart-first-line">
                    <a href="/product"><div class="product-name">Iphone 14</div></a>
                    <div class="product-quantity">

                        <label for="product-quantity">Cantidad</label>
                       <select name="product-quantity" id="product-quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                       </select>
            
           
                   </div>
                
                </div>
                    
                    <div class="product-price-erase">
                        <p class="price">300000$</p>
                        <button type=erase class="erase-button">Eliminar</button>
                    </div>
                
             
            </section>
            <section class="summary">
                <h3 class="summary-title">Resumen de compra</h3>
                <div class="summary-info">
                <div class="info"><p>Subtotal</p> <p class="summary-price">700000$</p></div>
                <div class="info" id="envio"><p>Envio</p> <p class="summary-price">2200$</p></div>
                <div class="info"><p>Total</p> <p class="summary-price">702200$</p></div>
                </div>
                <button class="resume">Finalizar compra</button>

            </section>
        </main>

        <%- include('partials/footer.ejs') %>
    
</body>
</html>