<!DOCTYPE html>

<html lang="en">

<%- include('partials/head.ejs') %>

    <body>



        <%- include('partials/header.ejs') %>


            <main>


                <h1>Lo mejor en:</h1>



                <section class="all-products">

                    <!-- PHONE - SAMSUNG -->
                    <article class="phone-product">

                        <h2 class="title-product">SMARTPHONES</h2>


                        <div class="brand-selector">
                            <span>Apple</span>
                            <span>Samsung</span>
                        </div>

                        <article class="hero-phone-samsung">


                            <p class="hero-title">Galaxy Z Fold 4</p>

                            <p class=" hero-sub-title">Se destaca. Se levanta. Se despliega</p>

                            <button class=" hero-btn">ver mas</button>

                        </article>

                        <div class="phones-card-container">

                            <div class="phones-samsung-container phone">

                                <div class="phone-img-samsung-container">

                                    <img src="./images/samsung-phones/samsung-S22_Ultra.png" alt="">


                                </div>

                                <div class="phone-description">

                                    <p class='phone-name'>Galaxy S22 Ultra</p>
                                    <button class='phone-btn'>Ver mas</button>

                                </div>


                            </div>
                            <div class="phones-samsung-container phone">

                                <div class="phone-img-samsung-container">

                                    <img src="./images/samsung-phones/Samsung-ZFLIP4.png" alt="">


                                </div>

                                <div class="phone-description">

                                    <p class='phone-name'>Galaxy S22 Ultra</p>
                                    <button class='phone-btn'>Ver mas</button>

                                </div>

                            </div>
                        </div>

                    </article>

                    <!-- PHONE - SAMSUNG -->







                </section>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




                <%- include('partials/footer.ejs') %>



            </main>








    </body>

</html>