<!DOCTYPE html>

<html lang="es">

<%- include('partials/head.ejs') %>

    <body>



        <%- include('partials/header.ejs') %>


            <main>


                <!-- CAROUSEL -->

                <div class="carousel-section">

                    <div class="carousel-images">

                        <img src="/images/banner-images/apple-banner.png" alt="sale apple products" class="image-1">

                        <!-- <img src="/images/banner-images/samsung-banner.png" alt="sale samsung products" class="image-2"> -->



                    </div>

                    <div class="carousel-arrows">


                        <span class="left">
                            <i class="fa-solid fa-angle-left"></i>
                        </span>

                        <span class="right">
                            <i class="fa-solid fa-angle-right"></i>
                        </span>



                    </div>

                </div>


                <!-- carosel -->


                <h1>Lo mejor en:</h1>



                <section class="all-products">

                    <!-- PHONE - SAMSUNG -->

                    <article class="phone-section">

                        <h2 class="title-product">SMARTPHONES</h2>


                        <div class="brand-selector">
                            <span>Apple</span>
                            <span>Samsung</span>
                        </div>

                        <div class="hero-phone-samsung">


                            <p class="hero-title">Galaxy Z Fold 4</p>

                            <p class=" hero-sub-title">Se destaca. Se levanta. Se despliega</p>

                            <a href="#" class="hero-btn ">Comprar</a>

                        </div>

                        <div class="phones-card-container">

                            <div class="phones-samsung-container phone">

                                <div class="phone-img-samsung-container">

                                    <img src="./images/phones/samsung-phones/samsung-S22_Ultra.png"
                                        alt="samsung S22 Ultra image">


                                </div>

                                <div class="phone-description">

                                    <p class='brand-name'>samsung</p>
                                    <p class='phone-name'>Galaxy S22 Ultra</p>

                                </div>


                            </div>

                            <div class="phones-samsung-container phone">

                                <div class="phone-img-samsung-container">

                                    <img src="./images/phones/samsung-phones/Samsung-ZFLIP4.png"
                                        alt="Samsung-ZFLIP4 image">


                                </div>

                                <div class="phone-description">
                                    <p class='brand-name'>samsung</p>
                                    <p class='phone-name'>Galaxy S22 Ultra</p>

                                </div>

                            </div>


                        </div>

                        <div class="see-all-btn-container phone-see-all-btn">
                            <a href="#" class=" see-all-btn  ">Ver todos</a>
                        </div>


                    </article>



                    <!-- PHONE - SAMSUNG -->


                    <!-- TABS -->

                    <article class="tabs-section">

                        <!-- <h2 class=" title-product tab-title"> TABS</h2> -->
                        <div class="tabs-container">

                            <div class="samsung-tab">

                                <img src="/images/tablets/samsung-tabs/samsung-tab-s8.png"
                                    alt=" samsung tab s8 ultra image">

                                <div class="smg-tab-bottom">

                                    <p>Espacio para posibilidades ilimitadas</p>

                                    <div class="see-all-btn-container smg-tab-btn">

                                        <a href="#" class=" see-all-btn  btn-tab black-btn">Comprar</a>

                                    </div>

                                </div>

                            </div>





                            <div class="ipad-tab">

                                <img src="/images/tablets/ipads/ipad-pro.png" alt="ipad image">

                                <div class="apple-ipad-description">



                                    <div class="ipad-texts">

                                        <p class="text-ipad">Igual de accesible.</p>
                                        <p class="text-ipad">Aún más poderoso.</p>

                                    </div>

                                    <div class="ipad-btn center">

                                        <a href="#" class="white-btn ">Comprar</a>

                                    </div>


                                </div>

                            </div>

                        </div>


                    </article>

                    <!-- tabs -->

                    <!-- HEADPHONES -->

                    <article class="headphones-section">

                        <h2 class=" title-product">HEADPHONES</h2>

                        <div class="all-headphones">

                            <div class="headphone box1">

                                <img src="./images/headphones/samsung/buds-pro.png" alt="samsung galaxy buds 2 pro">
                                <div>
                                    <a href="#" class="see-all-btn headphone-btn black-btn">Comprar</a>

                                </div>

                            </div>

                            <div class="headphone box2">

                                <img src="./images/headphones/samsung/buds-live.png" alt="samsung galaxy buds live">
                                <div>

                                    <a href="#" class="see-all-btn headphone-btn white-btn">Comprar</a>
                                </div>

                            </div>

                            <div class="headphone box3">

                                <img src="./images/headphones/apple/airpods-max.png" alt="">
                                <div>

                                    <a href="#" class="see-all-btn headphone-btn black-btn">Comprar</a>
                                </div>

                            </div>

                            <div class="headphone box4">

                                <img src="./images/headphones/apple/airpods-pro-2.png" alt="">
                                <div>

                                    <a href="#" class="see-all-btn headphone-btn white-btn">Comprar</a>
                                </div>
                            </div>
                        </div>

                    </article>
                    <!-- Headphones -->


                    <!--  -->


                    <!-- COMPUTERS  defaul-->

                    <!-- <article class="computers-section">

                        <h2 class=" title-product">COMPUTERS</h2>

                        <div class="main-computer-container">

                            <div class="computers-container">

                                <div class="computers-right-side">

                                    <div class="computer-box computer-1">


                                        <div class="computer-title">
                                            <p>MacBook Pro</p>
                                        </div>

                                        <div class="computer-image-container">
                                            <img src="/images/computers/macbook-pro.png" alt="">
                                        </div>

                                        <div class="texts-cumputer-card">

                                            <p class="text-1">Todo el poder para los pro. </p>

                                            <p class="text-2">Disfruta de rendimiento revolucionario.</p>
                                        </div>

                                        <a href="#" class="see-all-btn computer-btn ">Comprar</a>

                                    </div>
                                </div>

                                <div class="computers-left-side">

                                    <div class="computer-box computer-2">

                                        <div class="computer-title">
                                            <p>MacBook Pro</p>
                                        </div>

                                        <div class="computer-image-container">
                                            <img src="/images/computers/imac-24.png" alt="">
                                        </div>

                                        <div class="texts-cumputer-card">

                                            <p class="text-1">Potencia para potenciar tus ideas. </p>

                                        </div>


                                        <a href="#" class="see-all-btn computer-btn ">Comprar</a>

                                    </div>

                                    <div class="computer-box computer-3">

                                        <div class="computer-title">
                                            <p>MacBook Pro</p>
                                        </div>

                                        <div class="computer-image-container">
                                            <img src="/images/computers/mac-air.png" alt="">
                                        </div>

                                        <div class="texts-cumputer-card">

                                            <p class="text-1">Poder para volar alto. </p>

                                        </div>

                                        <a href="#" class="see-all-btn computer-btn ">Comprar</a>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </article> -->

                    <!--  -->

                    <!-- computers swiper  -->
                    <article class="computers-section">

                        <div class="sliders-container">

                            <div class="sliders">

                            </div>

                            <div class="sliders">

                            </div>

                            <div class="sliders">

                            </div>


                        </div>

                        <div class="navegation-slider">

                            <span class="point-nav"></span>

                            <span class="point-nav"></span>

                        </div>


                    </article>
                    <!-- computers -->

                    <!-- COMPUTERS touch slide-->
                    <!-- xxxxxxxxxxxxx -->
                    <!-- computers -->




                    <!-- WATCHES -->
                    <article class="watches-section">


                        <div class="top-watches-section">

                            <h2 class=" title-product watch-title">WHATCHES</h2>

                            <div class="brand-selector watches-brand">
                                <span>Apple</span>
                                <span>Samsung</span>
                            </div>
                            <div class="watch-btb">

                                <a href="#" class="white-btn">Comprar</a>
                            </div>
                        </div>





                        <div class="watches-image-container">


                            <img src="/images/watches/samsung/samsung-watch-3.png" alt="">

                            <!-- <img src="/images/watches/apple/apple-watch-series-7.png" alt=""> -->

                        </div>





                    </article>
                    <!-- watches -->

                    <!-- TVs -->
                    <article class="tvs-section">
                        <h2 class="title-product tv-first-title">TV's</h2>


                        <div class="content-tv-container">

                            <p class=" title-product tv-title">Neo QLED</p>

                            <div class="tvs-nav">
                                <a href="">QN800A</a>
                                <a href="">QN85A</a>
                                <a href="">QN85B</a>
                            </div>


                            <p class="tv-text">Neo QLED en todos los tamaños</p>

                            <a href="#" class="see-all-btn tv-btn ">Comprar</a>

                        </div>




                        <div class="img-tv-container">


                            <!-- ------ -->
                            <img id="lake-image" class="tv-lake-img" src="/images/tvs/samsung/asmsung-tv-testLagp.jpg"
                                alt="">


                            <img id="forest-image" class="tv-forest-img"
                                src="/images/tvs/samsung/samsung-tv-65-forest3.jpg" alt="">

                            <!-- <img id="sunset-image" class="tv-sunset-img"
                                src="/images/tvs/samsung/samsung-tv-sunstest2.png" alt=""> -->






                        </div>




                    </article>
                    <!-- tvs -->


                </section>






            </main>
            <br><br><br><br><br>


            <%- include('partials/footer.ejs') %>


                <script src="js/homeScript.js"></script>
    </body>

</html>