<!DOCTYPE html>

<html lang="en">

<%- include('partials/head.ejs') %>

    <body>



        <%- include('partials/header.ejs') %>


            <main>


                <h1>Nuestra selección en:</h1>



                <section class="products">

                    <article class="phone-article">

                        <h2>
                            Celulares
                        </h2>

                        <div class="brand-selector">
                            <span>Aplle</span>
                            <span>Samsung</span>
                        </div>

                    </article>

                    <div class="phones-container">

                        <div class="phone">
                            <img src="./images/samsung-phones/samsung-S22_Ultra.png" alt="">

                            <p>Galaxy S22 Ultra</p>

                        </div>


                        <div class="phones">

                            <img src="./images/samsung-phones/samsung-ZFLIP4.png" alt="">

                            <p>Galaxi Z Flip 4</p>
                        </div>
                        <div class="phones">

                            <img src="./images/samsung-phones/samsung-ZFLIP4.png" alt="">

                            <p>Galaxi Z Flip 4</p>
                        </div>
                        <div class="phones">

                            <img src="./images/samsung-phones/samsung-ZFLIP4.png" alt="">

                            <p>Galaxi Z Flip 4</p>
                        </div>
                    </div>


                </section>





                <%- include('partials/footer.ejs') %>



            </main>








    </body>

</html>