<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->

    <link rel="stylesheet" href="/css/index.css">

    <title>Document</title>
</head>

<body>
    <div class="header-conteiner">

        <header class="main-header">

            <div class="logo">
                logo
            </div>

            <nav class="navegation">

                <a href="#">Celulares</a>
                <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">


                <a href="#">Tablets</a>
                <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">


                <a href="#">Computadoras</a>
                <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">


                <a href="#">Televisores</a>
                <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">


                <a href="#">Acceorios</a>
                <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">

            </nav>

            <div class="search-bar">

                <input class="search-input" type="text" placeholder="¿Qué estas buscando?">

            </div>

            <div class="user-navegation">

                <a href="/login">

                    <img class="icon-login" src="/images/usuario.png" alt="usualrio logo">

                </a>

                <a href=" #">

                    <img class="icon-car" src="/images/shopping-bag.png" alt="">

                </a>

            </div>

        </header>
    </div>





    <main>

    </main>





    <footer>

    </footer>



</body>

</html>