<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>


    <body>


        <%- include('partials/header.ejs') %>


            <main>

                <section class="product-create">

                    <h1>Crear Producto</h1>

                    <form action="/products/create" method="POST" enctype="multipart/form-data" class="product-form">

                        <div class="input-label">

                            <div class="label">
                                <label for="name">Nombre</label>
                            </div>
                            <input class="input" type="text" name="name" id="name" required>

                        </div>

                        <!-- <div class="input-label">

                            <div class="label">
                                <label for="modelo">Modelo</label>
                            </div>
                            <input class="input" type="text" name="modelo" id="modelo" required>

                        </div> -->
<!-- 
                        <div class="input-label">

                            <div class="label">
                                <label for="marca">Marca</label>
                            </div>
                            <input class="input" type="text" name="marca" id="marca" required>

                        </div> -->

                        <div class="input-label">

                            <div class="label">
                                <label for="description">Descripcion</label>
                            </div>
                            <input class="input" type="textArea" name="description" id="description" required>

                        </div>
                        <div class="input-label">

                            <div class="label">
                                <label for="color">Color</label>
                            </div>
                            <input class="input" type="text" name="color" id="color" required>

                        </div>
                        <div class="input-label">

                            <div class="label">
                                <label for="price">Precio</label>
                            </div>
                            <input class="input" type="text" name="price" id="price" required>

                        </div>

                        <div class="product-create-img">

                            <div>
                                <label for="image">Imagen</label>
                            </div>
                            <input class="input-image" type="file" name="image" id="image" >
                        </div>

                        <div class="button-container">

                            <button type="reset">Borrar</button>
                            <button type="submit">Crear</button>

                        </div>

                    </form>

                </section>

            </main>


            <%- include('partials/footer.ejs') %>


    </body>

</html>