<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <div class="register-form">
                <h3>Creá tu cuenta</h3>

                <form action="/user/register" class="register" method="post" enctype="multipart/form-data" >

                    <label for="Nombre">Nombre</label>

                    <p><input class="control" type="text" name="name" required></p>

                    <label for="Apellido">Apellido</label>

                    <p><input class="control" type="text" name="lastName" required></p>

                    <label for="correo electronico">Corre electrónico</label>

                    <p><input class="control" type="email" name="email" required="E-mail"></p>

                    <label for="contraseña">Constraseña</label>

                    <p><input class="control" type="password" name="password" required
                            placeholder="Mínimo 8 caracteres, una mayúscula y un número"></p>

                    <div>
                        <p>Categoria</p>
                        <input type="list" list="category" name="category">
                        <datalist id="category">
                            <option value="Comprador">Comprador</option>
                            <option value="Vendedor">Vendedor</option>
                        </datalist>
                    </div>
                    
                    <div>
                        <input type="file" value="Imagen de perfil" name="profileImg">
                    </div>

                    <div class="options">

                        <p><input class="conditions" type="checkbox" name="conditions" value="conditions"> Acepto términos y
                            condiciones</p>
                        <p><input class="suscription" type="checkbox" name="suscription" value="suscription"> Recibir
                            novedades y ofertas especiales</p>

                    </div>

                    <div class="botones">

                        <p><button class="aceptar" type="submit">Enviar</button></p>
                        <p><button class="cancelar" type="submit">Cancelar</button></p>



                    </div>
                </form>

            </div>

            
        </main>
        <%- include('partials/footer.ejs') %>

</body>

</html>