<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6f9fa3ad53.js" crossorigin="anonymous"></script>
    <title>Formulario Registro</title>
    </head>

    <body>
        <div class="header-conteiner">

            <header class="main-header">
    
                <div class="logo">
                    logo
                </div>
    
                <nav class="navegation">
    
                    <a href="#">Celulares</a>
                    <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">
    
    
                    <a href="#">Tablets</a>
                    <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">
    
    
                    <a href="#">Computadoras</a>
                    <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">
    
    
                    <a href="#">Televisores</a>
                    <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">
    
    
                    <a href="#">Acceorios</a>
                    <img class="drop-icon" src="/icons/down-arrow-svgrepo-com.svg" alt="">
    
                </nav>
    
                <div class="search-bar">
    
                    <input class="search-input" type="text" placeholder="¿Qué estas buscando?">
    
                </div>
    
                <div class="user-navegation">
    
                    <a href="/login">
    
                        <img class="icon-login" src="/images/usuario.png" alt="usualrio logo">
    
                    </a>
    
                    <a href=" #">
    
                        <img class="icon-car" src="/images/shopping-bag.png" alt="">
    
                    </a>
    
                </div>
    
            </header>
        </div>
        <main>
            <div class="register-form">
                <h3>Creá tu cuenta</h3>

         <form class="register" method="post">
            <label for="Nombre">Nombre</label>
            
            <p><input class="control" type="text" name="nombre" required></p> 
            
            <label for="Apellido">Apellido</label>
            
            <p><input class="control" type="text" name="apellido" required></p>
            
            <label for="correo electronico">Corre electrónico</label>
            
            <p><input class="control" type="email" name="email" required ="E-mail"></p>
            
            <label for="contraseña">Constraseña</label>

            <p><input class="control" type="password" name="constraseña" required placeholder="Mínimo 8 caracteres, una mayúscula  un número"></p>

            <p><input class="conditions" type="checkbox" name="terminos" value="terminos"> Acepto términos y condiciones</p>
            <p><input class="suscription" type="checkbox" name="suscripcion" value="suscripcion"> Recibir novedades y ofertas especiales</p>

            <div class="botones">

                <p><button class="cancelar" type="submit">Cancelar</button></p>
                <p><button class="aceptar" type="submit">Aceptar</button></p>

        
                </div>
            </form>

        </div>
    </main>

<footer>

</footer>



</body>

</html>
