* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background-color: rgba(173, 232, 232, 0.447);
  }
  header {
    background-color: #465a6c;
  }
  
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    align-items: center;
  }
  
  nav a {
    margin-left: 15px;
    color: rgb(137, 255, 131);
  }
  
  a {
    text-decoration: none;
  }
  
  .drop-icon {
    width: 10px;
  }
  
  .search-input {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }

  /*Carrito css*/

  main{
    margin: 0 auto;
    width: 90%;
  }

  .cart-title{
    text-decoration: underline;
    margin-top: 20px;
    align-self:flex-start;

  }

  .cart-products{
    margin: 0 auto;
    width: 60%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5em;
    border: black solid 4px;
   padding: 0 5em;
   border-radius: 10px;
   background-color: #465a6c;
   padding-bottom: 3em;
   box-shadow: 5px 10px 12px #444;
  }


  .product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black solid 4px;
    border-radius: 8px;
    margin: 3em 0;
    background-color: #5db1ff5c;
    color: rgb(137, 255, 131);

  }
  .input-quantity {
    width: 10px;
  }
  .price{
    margin-right: 5px;
    }
  
  .erase-button{
    background:none;
    border: none;
    font-weight: 900;
    transition: color 450ms;
    margin-left: 5px;
    
  }
  .erase-button:hover{
    color: red;
  }
  
  .product-image{
    object-fit: fill;
    width: 250px;
    height: auto;
  }
  
  
  a:link,
a:visited {
  text-decoration: none;
}

.product-name:link, .product-name:visited{
    text-decoration: none;

}

.product-name{
    color: black;
    font-weight: 800;
}


.summary{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    border: solid 4px black;
    margin-bottom: 2em;
    background-color: #465a6c;
    padding: 2em 0;

}
.summary-title{
    text-decoration: underline;
}

.summary-info{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 0;
}

#envio{
    border-bottom: black 1px solid;
    margin-bottom: 1em;
}
.summary-price{
    color:rgb(137, 255, 131) ;
}
.info{
    font-size: 18px;
    font-weight: 600;
}

.resume{
    border-radius: 0.25rem;
  background-color: #5db1ff5c;
  color: black;
  width: 33%;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
  transition: all 450ms;
  
}

.resume:hover{
    color: white;
    background-color: aqua;
}
