* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-color: rgba(201, 189, 189, 0.086);
}

main {
  margin-top: 50px;
}

/*  */

/*  */

/*        header            */

header {
  background-color: #ddddddb4;
  position: fixed;
  width: 100%;
  top: 0;
}

.product-nav {
  color: rgb(137, 255, 131);
  background-color: none;
  padding: none;
  border-radius: none;
  padding: 6px;
  transition: all 280ms;
}

.product-nav:hover {
  border-radius: 10px;
  background-color: rgb(109, 126, 222);
}

a {
  text-decoration: none;
}

.bars-menu {
  height: 32px;
  width: 26px;
  background-color: #e8e8e8;
  cursor: pointer;
}

.icon-nav {
  height: 24px;
}

.bars-menu span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  margin-top: 5px;
}

/*        header            */

/*  */

/*                 footer                  */
footer {
  background-color: blanchedalmond;
}
.logo-container,
.social-media {
  text-align: center;
}
/*                 footer                  */

/*  */

/*  */

/*  */

/* @media and screen (max-width: 534px)  */
@media screen and (max-width: 534px) {
  /*        header            */
  /*                          */
  .navegation-products {
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header div {
    margin: 0.6rem 0.6rem;
  }

  .main-header .logo-container {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  /*                          */
  /*        header            */

  /*                 footer                  */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    background-color: aquamarine;
  }
  footer div {
    padding: 10px;
  }

  .social-media img {
    width: 8.5vw;
  }
  .footer-bottom p {
    font-size: 3vw;
  }
  .copy-text,
  .designers p {
    text-align: center;
  }
  .designers img {
    width: 3vw;
  }
  /*                 footer                  */
}

/*  */

/*  */

/*  */

/* tablet */

@media screen and (min-width: 535px) and (max-width: 990px) {
  /*        header            */
  /*                          */
  .navegation-products {
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header div {
    margin: 0.6rem 0.5rem;
  }

  .main-header .logo-container {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  /*                          */
  /*        header            */

  /*                 footer                  */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: aquamarine;
  }
  footer div {
    padding: 10px;
  }

  .social-media img {
    width: 4.5vw;
  }
  .logo-container span,
  .footer-bottom p {
    font-size: 2vw;
  }
  .copy-text,
  .designers p {
    text-align: center;
  }
  .designers img {
    width: 2vw;
  }
  /*                 footer                  */
}

/*  */

/*  */

/*  */

/* desktop */

@media screen and (min-width: 991px) {
  .bars-menu {
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo-container {
    order: -2;
  }
  .navegation-products {
    order: -1;
    margin-right: 29%;
  }

  .main-header div {
    margin: 0.6rem 0.5rem;
  }

  /*                 footer                  */
  footer {
    
    
    position: absolute;
    bottom: 0;
    /* este es el arreglo de footer. firma Carlos*/ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    background-color: rgb(220, 89, 128);
  }
  footer div {
    padding: 5px;
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  .footer-bottom {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
  }

  .social-media img {
    width: 24px;
  }
  .footer-bottom p {
    font-size: 16px;
  }
  .copy-text,
  .designers p {
    text-align: center;
  }
  .designers img {
    width: 16px;
  }
}

/*                 footer                  */
