* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-color: rgb(60, 60, 60);
}

main {
  margin-top: 50px;
}

/*  */

/*  */

@media screen and (min-width: 535px) and (max-width: 990px) {
}
@media screen and (min-width: 765px) and (max-width: 990px) {
}

@media screen and (min-width: 991px) {
}

/* hovers */

@media (hover: hover) {
}

/* hovers */
