/* color purple r: #8677a9; */

body {
  background-color: #e8e8e8;
}

.title-product {
  text-align: center;
  margin: 0px;

  font-family: "Rubik";
  font-size: 7.5vw;
  color: #0e0e0ea3;
}

.brand-selector {
  text-align: center;

  margin: 0px;
}
.brand-selector span {
  margin: 0px 5px;
  padding: 2vw;

  font-size: 4vw;
}

/* .all-products article {
  margin-top: 1%;
} */

/* <!-- CAROUSEL -->    */
/* offer-carrousel */

.offer-carrousel {
  height: 104vw;
  width: 100vw;
}
.offer-carrousel__silides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offer-carrousel__info {
  position: absolute;
  width: 80%;
  height: 27%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translate(12%, 60%);
}
.offer-carrousel__text {
  font-size: 27px;
  font-weight: 700;
  color: #1b1b1b;
  margin: 0;
}
.offer-carrousel__left-arrow,
.offer-carrousel__right-arrow {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: #efefef;
  background-color: #9a969678;
  padding: 25px;
  border-radius: 50%;
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 20px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 20px)
  );

  border-radius: 50%;

  background: var(
    --swiper-pagination-bullet-inactive-color,
    rgb(255, 255, 255)
  );
}

/* offer-carrousel */
/* <!-- carousel --> */

/* ------- Celulares  -------*/

/* 


/* phones-section */

.phone-section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 250vw;
  align-items: center;
  justify-content: center;
  max-height: 1000px;
}
.phone-section__top {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 60%;
  position: relative;
  justify-content: space-between;
  background-color: unset;
  text-align: center;
}
.phone-section__title-product {
  margin: 10px;
  font-size: 2.3rem;
}
.phone-section__brand-selector {
  display: flex;
  justify-content: space-evenly;
}

.phone-section__brand {
  font-weight: 600;
  font-size: 1.2rem;
}
.phone-section__card-container {
  display: flex;
  justify-content: space-around;
  width: 92%;
  height: 80%;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.phones-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}
/* phone-cards */
.phone-section__card.phone-section__hero--card {
  width: 89%;
  height: 60%;
}
.phone-section__hero--card .phone-section__image-container {
  width: 100%;
  height: 60%;
}
.phone-section__hero--card .phone-section__image-container img {
  width: 80%;
}

.phone-section__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 42.5%;
  height: 44%;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d9d9d9;
}
.phone-section__image-container {
  width: 90%;
  text-align: center;
  margin: 16px 0px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.phone-section__apple-phones .phone-section__image-container {
  width: 50%;
}
.phone-section__image-container img {
  width: 70%;
  object-fit: cover;
}
.phone-info {
  text-align: center;
}
.phone-info__brand {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.2vw;
  margin: 0;
  color: #898989;
  padding-top: 2vw;
}
.phone-info__phone-name {
  font-size: 3.5vw;
  font-weight: bolder;
  margin: 0;
  padding: 0.5vw 0;
}
/* phone-cards */

.phone-section__samsung-phones {
  position: absolute;
}

.phone-section__apple-phones {
  opacity: 1;
}
.phone-section__apple-phones
  .phone-section__hero--card
  .phone-section__image-container {
  width: 70%;
  height: 91%;
}
.iph12 {
  order: 1;
}

.phone-section__samsung-phones
  .phone-section__hero--card
  .phone-section__image-container
  .phone-image {
  width: 70%;
  height: 100%;
}

.escale {
  transform: scale(1.1);
  transition: all 0.5s;
}
.escale-no {
  transform: scale(1);
  transition: all 0.5s;
}
/* phones-section */

/*  */

/* 

/*  */

/*  TABS    */

/* samsung-tab */

.tabs-section {
  width: 90vw;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.samsung-tab {
  position: relative;
  text-align: center;
}

.samsung-tab img,
.ipad-tab img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.smg-tab-bottom {
  position: absolute;
  top: -11%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 34%;
  width: 65%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.samsung-tab .title-product {
  font-size: 5.9vw;
  padding: 0;
  color: black;
  font-family: "Rubik";
  letter-spacing: 1px;
  font-weight: bold;
}

.smg-tab-bottom p {
  font-size: 4vw;
  position: relative;
  padding: 0.6rem;
  font-weight: 500;
  color: black;
  margin: 0;
}

.smg-tab-bottom div {
}
.black-btn {
  padding: 3vw;
  font-weight: 600;
  border-radius: 28px;
  color: #ffffff;
  background-color: #000000;
}
/*  */
.samsung-tab,
.ipad-tab {
  height: 122vw;
}
/*  */

/*            ipad        */

.ipad-tab {
  width: 100%;

  position: relative;

  text-align: center;
  display: flex;
  flex-direction: column;

  font-family: "Comfortaa", cursive;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
.smg-tab-bottom .apple-ipad-description {
  position: absolute;
  top: -18%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  height: 39%;
  width: 87%;
}
.apple-ipad-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 40%;
  text-align: center;
  top: -19%;
}
.apple-ipad-description .title-product {
  font-size: 5.9vw;
  padding: 0;
  font-family: "Rubik";
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0;
}
.ipad-text {
  display: flex;
  padding: 0.1rem;
  flex-direction: column;
}

.apple-ipad-description p {
  font-size: 4vw;
  padding: 0.2rem;
  position: relative;
  font-weight: 500;
  color: white;

  margin: 0;
}

/* .text-ipad, */
.ipad-btn {
  font-size: 3.5vw;
  color: #ffffff;
  margin: 0;
  height: 23px;
}
.center {
  text-align: center;
}

.ipad-btn-container {
  margin-top: 2px;
}
.white-btn {
  margin-top: 0px;
  padding: 3vw;
  font-size: 3.4vw;
  font-weight: 600;
  border-radius: 28px;
  background-color: #f7f6f6;
  color: #000000;
}
/* tabs */

/*  */

/* <!-- HEADPHONES --> */

/* .headphones-section */

.headphones-section {
  width: 100vw;
  height: 150vw;
  background: black;
  display: flex;
  z-index: 2323;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.hdphone-header {
  height: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hdphone-header h2.headphone-title.title-product,
.hdphone-header .brand-selector {
  color: white;
  margin: 0;
}

.hdphone-header .brand-selector {
  text-align: center;
  margin: 5vw 0px;
}
.headphones-container {
  height: 70%;
  position: relative;
}

.sms-hdphones,
.apple-hdphones {
  height: 100%;
  width: 200vw;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-around;
}
/* .sms-hdphones {
  } */
.apple-hdphones {
}
.apple-hdphones .headphone {
  /* background-color: #bde6fc; */
}

.headphone {
  width: 85vw;
  text-align: center;
  height: 89%;
}
.sms-hdphones .buds-live {
  border: 1px solid #edb2a1;
}

.image-headphone-container {
  width: 100%;
  height: 100%;
}
.image-headphone-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3%;
}
.headphones-section .navegation-slider {
  background-color: #000000;
  border: 1px solid #ffffff;
  display: none;
}
.headphones-section .navegation-slider .point-nav {
  background-color: #878787;
}
.airpods-pro {
  border: 1px solid white;
}

/*  headphones */

/* <!-- headphones --> */

/* <!-- COMPUTERS  --> */

.computers-section {
  background: #e8e8e8;
  height: 140vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 50px;
}
.sliders-container {
  height: 90%;
  width: 300vw;
  display: inline-flex;
  background-color: #e8e8e8;
  justify-content: space-around;
  align-items: center;
  cursor: grab;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  user-select: none;
}
.image-computer-container {
  width: 100%;
  display: flex;
  height: 54%;
  justify-content: center;
  align-items: center;
}
.image-computer-container img {
  height: 100%;
  width: 80%;
  object-fit: contain;
}
.computer-text {
  width: 70%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.computer-text .brand-name {
  padding-top: 0;
}

.computer-name {
  font-size: 7.5vw;
  margin: 0;
  font-weight: bold;
}
.cumputer-phase {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 3.4vw;
}

.computer-btn {
  position: relative;
  top: 21px;
}
.text-btn {
  margin: 0;
  font-size: 3.7vw;
  font-weight: bold;
}
.navegation-slider {
  width: 30%;
  background-color: #e8e8e8;
  height: 6%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
}
.point-nav {
  width: 12%;
  height: 50%;
  background-color: #cdcdcd;
  display: inline-block;
  border-radius: 50%;
}

.grabbing {
  cursor: grabbing;
}
.grabbing .sliders .image-computer-container img {
  cursor: grabbing;
}

/* <!-- computers 2  --> */

/* <!-- WATCHES --> */

.watches-section {
  width: 100vw;
  height: 157vw;
  overflow: hidden;
  position: relative;
}
.top-watches-section {
  position: absolute;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: #9d9d9d;

  width: 100%;
  height: 26%;
}
.top-watches-section a {
  position: relative;
  top: 18%;
}
.watch-title {
  color: whitesmoke;

  font-weight: 500;
  font-size: 8.5vw;
  margin: 0;
}
.watches-brand {
  position: relative;
  margin: 0;
}
.watch-btb {
  position: absolute;
  left: 42.5%;
  top: 62%;
}
.watches-image-container {
  width: 200%;
  height: 100%;
  display: flex;
  position: relative;
}

.samsung-watch-container,
.apple-watch-container {
  width: 50%;
  height: 100%;
  position: absolute;
}
.samsung-watch-container {
  opacity: inherit;
}
.apple-watch-container {
  /* opacity: 0; */
}

.samsung-watch-container img,
.apple-watch-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.samsung-watch-container.watch-btb,
.apple-watch-container .watch-btb {
  position: absolute;
  left: 40%;
  top: 64%;
}
.visible {
  opacity: 1;
}
.no-visible {
  opacity: 0;
}
.visible-phone {
  opacity: 1;
  z-index: 100;
}
.no-visible-phone {
  opacity: 0;
  z-index: -100;
}

.no-visible,
.visible,
.no-visible-phone,
.visible-phone {
  transition: opacity 0.4s;
}
.no-visible-phone,
.visible-phone {
  transition: all 0.4s;
}

/* <!-- watches --> */

/*   <!-- TVs --> */
.tvs-section {
  margin-top: 30px;
  width: 100vw;
  height: 145vw;
  overflow: hidden;
  position: relative;
}

.content-tv-container {
  font-family: "Rubik";
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  height: 27%;
  z-index: 2;
}
.tv-title {
  color: #ffffff;
  text-shadow: 1px 0px 0px #6e6666, 0px 1px 0px #6b5a5a, -1px 0px 0px #575555,
    0px -1px 0px #695454;
}
.tv-title {
  font-size: 12vw;
  font-weight: 100;
  margin: 0px;
  width: 100vw;
  top: 7vw;
}

.tvs-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
.tvs-nav span,
.tv-text {
  font-size: 5.5vw;
  list-style: none;
  font-weight: 600;
  font-family: system-ui;
  /* margin: 0 4vw; */
}

/* tv-images */

.img-tv-container {
  width: 307%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  /* flex-direction: row; */
  transition: transform.5s ease;
  border-radius: 15px;
}

.img-tv-container img {
  /* position: absolute; */
  object-fit: cover;
  overflow: hidden;
}

.box,
.box img {
  width: 34%;
  height: 100%;
}

.img-tv-container .tv-lake-img {
  width: 65%;
  position: absolute;
}
.img-tv-container .tv-forest-img {
  height: 100%;
  position: absolute;
  width: 34%;
}

.img-tv-container .tv-sunset-img {
  width: inherit;
  height: 100%;
  position: absolute;
}
/*  */
.tv-bottom {
  position: relative;
  width: 80%;
  height: 30%;
  display: flex;
  top: 68%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
}
.tv-bottom .tv-text {
  text-shadow: none;
  text-align: center;
}

/* .img-tv-container .tv-lake-img {
  width: 237%;
  height: inherit;
}

.img-tv-container .tv-sunset-img {
  width: 183%;
  height: inherit;
} */

.tvs-nav span,
.tv-btn,
.tv-text,
.tv-title {
  position: relative;
}

.tvs-nav span,
.tv-text,
.tv-title {
  color: #ffffff;
  text-shadow: 1px 0px 0px #000000, 0px 1px 0px black, -1px 0px 0px black,
    0px -1px 0px black;
}

.tvs-nav span,
.tv-text {
  font-size: 5.5vw;
  list-style: none;
  font-weight: 500;
  margin: 0 4vw;
}

.tv-text {
  margin: 0;
}
.tv-btn {
  color: #e0e0e0;
  background-color: #818181ba;
  bottom: 12vw;
  border-radius: 2vw;
  padding: 3vw;
}
/* <!-- tvs --> */

/* media queries */

@media screen and (min-width: 535px) and (max-width: 990px) {
  h1 {
    font-size: 3.5vw;
  }

  .title-product {
    font-size: 5vw;
  }
  .brand-selector {
    margin: 0px;
  }
  .brand-selector span {
    margin: 0px 18px;
    padding: 2vw;
    font-size: 2.5vw;
    font-weight: 500;
    font-family: "Rubik";
  }

  /*  */

  .white-btn,
  .black-btn {
    padding: 16px;
    font-size: 2.4vw;
  }

  /*  */

  /* offer-carrousel */

  .offer-carrousel {
    height: 74vw;
  }
  .offer-carrousel__info {
    width: 70%;
    height: 50%;
    justify-content: space-evenly;
    transform: translate(21%);
  }

  .offer-carrousel__text {
    font-size: 4.5vw;
  }
  /* offer-carrousel */

  /*  */

  /* PHONES */
  .phone-section {
    justify-content: space-evenly;
    max-height: 1100px;
  }
  .phone-section-top {
    display: flex;
    flex-direction: column;
    height: 8%;
    justify-content: space-between;
  }
  .hero-phone-samsung {
    justify-content: center;
    height: 69vw;
    max-width: 500px;
    max-height: 374px;
    width: 96.5%;
  }
  .hero-phone-samsung .phones-samsung-container {
    width: 70%;
    height: 75%;
  }

  /*  */
  .phones-samsung-container {
    width: 31%;
    padding: 2rem 0rem;
    border-radius: 5px;
    height: 70.3%;
  }
  .phone {
    max-width: 243px;
    padding: 1rem;
    margin: 0 1vw;
    height: 57vw;
    width: 47%;
    max-height: 300px;
  }

  .phone-img-samsung-container {
    width: 65%;
    text-align: center;
    margin: 4vw 0px;
  }
  .phone-img-samsung-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .phone-name {
    font-size: 2vw;
    padding: 2vw 0;
  }
  .phone-section .brand-name {
    font-size: 2vw;
    padding-top: 0vw;
  }
  .phones-card-container {
    justify-content: center;
    height: 67.5%;
    max-height: 742px;
  }

  .see-all-btn-container {
    margin-top: 0px;
  }

  /* phones */

  /*  TABS */

  .smg-tab-bottom p {
    font-size: 2.7vw;
    position: relative;
    padding: 0.5rem;
    font-weight: 500;
    color: black;
    margin: 0;
  }
  .samsung-tab img {
    position: initial;
  }
  .smg-tab-bottom {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    width: 87%;
    top: -18%;
  }

  /* sms-tab */
  /*  */
  .tabs-section {
    width: 100vw;
    height: 100vw;
    max-height: 700px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
  }
  .tabs-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .samsung-tab .title-product {
    font-size: 4vw;
    padding: 0;
    color: black;
    font-family: "Rubik";
    letter-spacing: 1px;
    font-weight: bold;
  }

  .samsung-tab,
  .ipad-tab {
    height: 85%;
    width: 47%;
  }
  .samsung-tab img,
  .ipad-tab img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1%;
  }
  /*  */

  /* ipad */
  .apple-ipad-description {
    position: absolute;
    top: -18%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 39.6%;
    width: 87%;
  }
  .apple-ipad-description .title-product {
    font-size: 4vw;
    padding: 0;
    /* color: black; */
    font-family: "Rubik";
    letter-spacing: 1px;
    font-weight: bold;
  }
  .apple-ipad-description p {
    color: white;
  }

  .ipad-text {
    display: flex;
    padding: 0.2rem;
    flex-direction: column;
  }
  .ipad-tab {
    margin-top: 0px;
  }

  .apple-ipad-description p {
    font-size: 2.6vw;
    padding: 0px;
    position: relative;
  }

  .ipad-btn {
    font-size: 3.5vw;
    color: #ffffff;
    margin: 0;
  }
  /*  tabs */

  /* HEADPHONES */

  .headphones-section {
    height: 100vw;
    width: 94vw;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    max-height: 751px;
  }
  .hdphone-header {
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .hdphone-header h2.headphone-title.title-product,
  .hdphone-header .brand-selector {
    color: white;
    margin: 0;
  }

  .headphones-container {
    display: flex;
    align-items: center;
    height: 65%;
    width: 200%;
  }
  .sms-hdphones,
  .apple-hdphones {
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
  }
  .sms-hdphones {
  }

  .headphone {
    width: 64vw;
    text-align: center;
    height: 100%;
  }
  .sms-hdphones .buds-live {
    border: 1px solid #edb2a1;
  }

  .headphones-section .navegation-slider {
    display: none;
  }
  .apple-hdphones {
    position: absolute;
  }

  .airpods-pro {
    border: 1px solid white;
  }

  /*  headphones */

  /* COMPUTERS */

  .computers-section {
    height: 85vw;

    align-items: center;

    justify-content: space-between;
  }
  .sliders-container {
    height: 86%;

    justify-content: space-around;
  }
  .slide {
    justify-content: space-around;
  }
  .image-computer-container {
    height: 55%;
  }
  .image-computer-container img {
    width: 95%;
  }
  .computer-text .brand-name {
    font-size: 2vw;
  }
  .computer-name {
    font-size: 7vw;
  }
  .cumputer-phase {
    font-size: 3vw;
  }
  .navegation-slider {
    height: 6%;
  }
  .point-nav {
    width: 9%;
    height: 50%;
  }
  /* computer*/

  /*  */

  /* WATCHES */
  .watches-section {
    height: 100vw;
    width: 94vw;
    max-height: 751px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    overflow: hidden;
  }
  .top-watches-section a {
    font-size: 2.4vw;
  }

  .samsung-watch-container.watch-btb,
  .apple-watch-container .watch-btb {
    position: absolute;
    left: 42.5%;
    top: 62%;
  }
  /* watches */

  /* TV */

  .tvs-section {
    height: 115vw;
    width: 94vw;
    max-height: 751px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    overflow: hidden;
  }
  .content-tv-container {
    justify-content: space-evenly;
    height: 27%;
  }
  .title-product {
    font-size: 5vw;
  }

  .tv-title {
    font-size: 6vw;
    top: 0px;
  }

  .tvs-nav a,
  .tv-text {
    font-size: 4vw;
    margin: 0 4vw;
  }

  .img-tv-container .tv-lake-img {
    width: 55%;
    position: absolute;
  }
  .img-tv-container .tv-sunset-img {
    width: 93%;
    height: 131%;
    position: absolute;
  }
  .img-tv-container .tv-forest-img {
    height: 100%;
    position: absolute;
    width: 34%;
  }
  .tv-btn {
    border-radius: 2vw;
    padding: 2vw;
    font-size: 2vw;
  }
  /* tv */
}

/* 

*/
@media screen and (min-width: 765px) and (max-width: 990px) {
  /* phones-section */

  .phone-section {
    justify-content: center;
    height: 80vw;
    width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
    max-height: 1111px;
  }
  .phone-section__top {
    height: 14%;
    width: 35%;
  }
  .phone-section__card-container {
    justify-content: space-around;
    height: 66.5%;
    align-items: flex-end;
    width: 100%;
  }
  .phones-container {
    gap: 10px 0px;
  }
  /* phone-cards */
  .phone-section__card.phone-section__hero--card {
    justify-content: space-evenly;
    height: 100%;
    max-width: 500px;
    max-height: unset;
    width: 40.5%;
  }
  .phone-section__hero--card .phone-section__image-container {
    margin: 0px;
    height: 65%;
  }
  .phone-section__apple-phones
    .phone-section__hero--card
    .phone-section__image-container {
    margin: 0px;
    height: 65%;
    width: 210%;
  }
  .phone-section__hero--card .phone-section__image-container img {
    width: 90%;
    height: 100%;
  }
  .phone-section__apple-phones
    .phone-section__hero--card
    .phone-section__image-container
    img {
    width: 100%;
    height: 155%;
  }

  .phone-section__card {
    padding: 1rem;
    margin: 0 1vw;
    height: 100%;
    width: 25%;
    max-height: unset;
    max-width: unset;
  }
  .sgu22 {
    order: -1;
  }
  .phone-section__image-container {
    width: 100%;
  }
  .phone-section__image-container img {
    width: 70%;
  }

  .phone-info__brand {
    font-size: 1.2vw;
  }

  .phone-info__phone-name {
    font-size: 2vw;
  }
  /* phone-cards */

  .phone-section__samsung-phones {
    opacity: 1;
    position: absolute;
  }

  .phone-section__apple-phones {
  }
  /* .phone-section__apple-phones .phone-section__hero--card {
    width: 100%;
  } */
  .phone-section__apple-phones img {
    width: 47%;
  }
  .iph13 {
    order: -1;
  }
  .phone-section__apple-phones .phone-section__image-container {
    width: 100%;
  }

  /* phones-section */

  /* tabs */

  .smg-tab-bottom {
    width: 100%;
    display: flex;
    position: absolute;
    padding: 0.1rem;
    height: 33%;
    top: -11%;
    justify-content: space-between;
    flex-direction: column;
  }
  .samsung-tab .title-product {
    font-size: 4vw;
    padding: 0;
    color: black;
    font-family: "Rubik";
    letter-spacing: 1px;
    font-weight: bold;
  }
  .smg-tab-bottom p {
    font-size: 1.2rem;
    position: relative;
    /* font-weight: 600; */
    padding: 1.4rem;
    margin: 0;
  }
  /* apple */
  .apple-ipad-description p {
    padding: 0px;
  }
  .ipad-btn {
    height: unset;
  }
  .phone-section__samsung-phones
    .phone-section__hero--card
    .phone-section__image-container
    .phone-image {
    width: 100%;
  }
  /* tabs */

  /* HEADPHONE */

  /* headphone */

  /* COMPUTERS */
  .computers-section {
    align-items: center;
    justify-content: center;
  }
  .sliders-container {
    height: 86%;
    width: 95vw;

    cursor: unset;
  }

  .slide {
    width: 32%;
    justify-content: space-evenly;
  }

  .computer-text {
    width: 80%;
    height: 54%;
    align-items: unset;
    justify-content: space-around;
  }
  .computer-text .brand-name {
    display: none;
  }
  .computer-name {
    font-size: 5vw;
  }

  .cumputer-phase {
    font-size: 2.6vw;
    padding: 4px;
  }
  .computer-btn .black-btn {
    padding: 1.5vw;
    font-size: 2vw;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
  }
  .imac .computer-name {
    height: 116px;
    width: 100px;
  }
  .imac .computer-phase {
    padding-top: 0px;
  }
  .imac .text-btn {
    top: -7px;
    position: relative;
  }
  .computer-btn {
    position: unset;
  }

  .navegation-slider {
    display: none;
  }
  /* competers */

  /*WATCHES  */

  .watches-section {
    height: 100vw;
    overflow: hidden;
  }
  /*watches  */

  /* TV'S */
  .tvs-section {
    height: 100vw;
    width: 94 vw;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 10px;
    max-width: 894px;
  }
  .tv-bottom {
    height: 22%;
    top: 72%;
    justify-content: space-between;
  }
  .img-tv-container .tv-lake-img {
    width: 46%;
    position: absolute;
  }
  .img-tv-container .tv-sunset-img {
    width: 39%;
    height: 100%;
    position: absolute;
  }

  /* tv's */
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 4.5vw;
  }
  .title-product {
    font-size: 2.5rem;
  }

  .black-btn {
    margin-top: 0px;
    padding: 1rem;
    font-size: 1.1vw;
    border-radius: 28px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
  }

  .brand-selector {
    margin: 3vw 0px;
  }

  .brand-selector span {
    margin: 0px 5px;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: "Rubik";
  }

  /* offer-carrousel */
  .offer-carrousel {
    height: 43vw;
    width: 100%;
    max-width: 1251px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .offer-carrousel__info {
    width: 41%;
    height: 35%;
    justify-content: space-evenly;
    transform: translate(72%, 30%);
  }
  .offer-carrousel__text {
    font-size: 1.7rem;
  }

  /* offer-carrousel */

  /* PHONES-SECTION */

  .phone-section {
    height: 65vw;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    flex-wrap: unset;
    max-height: 935px;
    max-width: 1111px;
    margin-right: auto;
    margin-left: auto;
  }

  .phone-section__top {
    height: 7rem;
    width: 26%;
    position: relative;
    justify-content: space-between;
  }
  .phone-section__title-product {
    font-size: 2.5rem;
    margin: 10px;
  }
  .phone-section__brand-selector {
    justify-content: space-around;
  }
  .phone-section__brand {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .phone-section__card-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 35px;
    width: 100%;
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    max-height: 500px;
    align-items: flex-start;
  }
  .phones-container {
    gap: 10px 0px;
  }
  /* phone-cards */
  .phone-section__card.phone-section__hero--card {
    justify-content: center;
    height: 100%;
    max-width: 505px;
    width: 45%;
    max-height: none;
  }
  .phone-section__hero--card .phone-section__image-container {
    width: 90%;
  }
  .phone-section__hero--card .phone-section__image-container img {
    width: 80%;
  }

  .phone-section__card {
    margin: 0em 0.8em;
    height: 100%;
    width: 22%;
  }
  .sgu22 {
    order: -1;
  }
  .phone-section__image-container {
    width: 80%;
  }
  .phone-section__image-container img {
    width: 70%;
  }

  .phone-info {
    text-align: center;
    padding: 1rem;
  }
  .phone-info__brand {
    font-size: 0.8rem;
    padding-top: 2rem;
  }

  .phone-info__phone-name {
    font-size: 1.3rem;
  }
  /* phone-cards */

  .phone-section__samsung-phones {
    opacity: 1;
    position: absolute;
  }

  .phone-section__apple-phones {
  }
  .phone-section__apple-phones
    .phone-section__hero--card
    .phone-section__image-container {
    width: 125%;
  }
  .phone-section__apple-phones
    .phone-section__hero--card
    .phone-section__image-container
    img {
    width: 100%;
  }
  .iph13 {
    order: -1;
  }

  .phone-section__apple-phones .phone-section__image-container img {
    width: 40%;
  }
  .phone-section__apple-phones .iph14 .phone-info {
    position: relative;
    top: -2rem;
  }
  .phone-section__apple-phones .phone-section__image-container {
    width: 70%;
  }
  /* phones-section */

  /* TABS */
  .tabs-section {
    display: flex;
    justify-content: center;
    height: 62vw;
    width: 100vw;
    max-height: 765px;
    max-width: 1529px;
    margin-right: auto;
    margin-left: auto;
  }
  .tabs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100vw;
    max-width: 1205px;
    max-height: 730px;
    border-radius: 5px;
  }
  .samsung-tab,
  .ipad-tab {
    width: 47%;
    position: relative;
    height: 93%;
    max-width: 557px;
    max-height: 720px;
  }
  .samsung-tab img,
  .ipad-tab img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .smg-tab-bottom {
    width: 70%;
    display: flex;
    position: absolute;
    top: -13%;
    height: 37%;
    justify-content: space-around;
    flex-direction: column;
  }

  .smg-tab-bottom .title-product {
    font-size: 2rem;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: "Rubik";
    letter-spacing: 1px;
    font-weight: bold;
  }
  .smg-tab-bottom p {
    font-size: 1.2rem;
    position: relative;
    bottom: 9px;
    font-weight: 600;
    margin: 0;
  }
  .white-btn {
    margin-top: 0px;
    padding: 1rem;
    font-size: 1.1vw;
    font-weight: 600;
    border-radius: 28px;
    background-color: #f7f6f6;
    color: #000000;
  }

  /* 
   */

  .ipad-tab {
    margin-top: 0px;
  }

  .text-ipad,
  .ipad-btn {
    font-size: 1.2vw;
    margin: 4px;
    color: #ffffff;
  }
  .apple-ipad-description .title-product {
    color: white;
  }
  .apple-ipad-description p {
    font-size: 1.2rem;
  }
  /* tabs */

  /* HEADPHONES */

  .headphones-section {
    height: 66vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    color: white;
    background-color: #000000;
    margin-top: 122px;
    border-radius: 1%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1151px;
    max-height: 700px;
  }
  .hdphone-header {
    width: 40%;
    display: flex;
    height: 25%;
    flex-direction: column;
    justify-content: space-around;
  }
  .hdphone-header h2,
  .hdphone-header .brand-selector {
    color: white;
    margin: 0;
  }

  .headphones-container {
    height: 60%;
    max-height: 934px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .sms-hdphones,
  .apple-hdphones {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  /* .sms-hdphones {
  } */
  .apple-hdphones {
    position: absolute;
    height: 100%;
  }
  .apple-hdphones .headphone {
    background-color: #bde6fc;
  }

  .headphone {
    width: 35vw;
    height: 94%;
    max-width: 380px;
    max-height: 390px;
    border-radius: 6%;
  }
  .sms-hdphones .buds-live {
    border: 1px solid #edb2a1;
  }

  .image-headphone-container {
    width: 100%;
    height: 100%;
  }
  .headphone img {
    width: inherit;
    height: inherit;
    max-width: 454px;
    max-height: 391px;

    border-radius: 10px;
  }

  .headphone-btn,
  .navegation-slider {
    display: none;
  }
  .airpods-pro {
    border: 1px solid white;
  }
  /*  headphones */

  /* COMPUTERS */

  .computers-section {
    height: 67vw;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    max-height: 850px;
  }
  .sliders-container {
    /* height: 90%;  */
    width: 87vw;
    cursor: unset;
  }

  .slide {
    width: 32%;
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-evenly;  */
  }

  .image-computer-container {
    height: 52%;
  }
  .computer-text {
    width: 80%;
    height: 54%;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: unset;
    justify-content: space-between;
  }
  .computer-text .brand-name {
    display: none;
  }
  .computer-name {
    font-size: 3rem;
  }
  .navegation-slider {
    display: none;
  }
  .cumputer-phase {
    font-size: 1.4rem;
    padding: 4px;
    height: 64px;
  }
  .computer-btn .black-btn {
    padding: 0.7rem;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .imac .computer-name {
    height: 116px;
    width: 100px;
  }
  .imac .computer-phase {
    padding-top: 0px;
  }
  .imac .text-btn {
    top: 0px;
    position: relative;
  }
  .slide .computer-btn {
    position: unset;
  }

  /* computers */

  /* <!-- WATCHES --> */
  .watches-section {
    width: 94vw;
    display: flex;
    height: 70vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 1214px;
    max-height: 734px;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
  }
  .top-watches-section {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fafafa;
    width: 100%;
    height: 32%;
  }
  .watch-title .title-product {
    text-align: center;
    font-family: "Rubik";
    font-size: 2.5rem;
    color: #fafafa;
  }
  .watches-brand {
    position: relative;
    margin: 0;
  }
  .brand-selector {
    margin: 0px;
  }
  .watch-btb {
    position: relative;
    top: 62%;
    left: 45.5%;
  }
  .watches-image-container {
    overflow: hidden;
    width: 200%;
    display: flex;
  }
  .watches-image-container,
  .watches-image-container img {
    width: 100%;
    height: 100%;
  }
  .watches-image-container img {
    position: absolute;
    object-fit: cover;
    border-radius: 1%;
  }

  .samsung-watch-container,
  .apple-watch-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .watches-image-container img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    object-fit: cover;
    border-radius: 1%;
  }
  .apple-watch-container .watch-btb {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%);
  }

  /* <!-- watches --> */

  .watches-section,
  .tvs-section {
    width: 94vw;
    height: 70vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 1214px;
    max-height: 734px;
    overflow: hidden;
    border-radius: 15px;
  }

  /*  <!-- TVs --> */
  .content-tv-container {
    font-family: "Rubik";
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  .img-tv-container {
    width: 302%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
  .title-product {
    text-align: center;
    font-family: "Rubik";
    font-size: 2.5rem;
    color: #fafafa;
  }
  .img-tv-container img {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
  }
  .tv-title {
    top: 0px;
  }
  .tvs-nav a,
  .tv-text {
    font-size: 2.5rem;
    list-style: none;
    font-weight: 900;
    margin: 0 4vw;
  }

  .img-tv-container .tv-lake-img {
    width: 34%;
    position: absolute;
  }
  .img-tv-container .tv-sunset-img {
    width: 61%;
    height: 134%;
    position: absolute;
  }
  .img-tv-container .tv-forest-img {
    height: 100%;
    position: absolute;
    width: 34%;
    border-radius: 15px;
  }
  .tvs-nav {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
  }

  .tvs-nav span,
  .tv-text {
    font-size: 2.5rem;
    list-style: none;
    font-weight: 500;
    margin: 0 0vw;
  }
  /*  <!-- tvs --> */
}

@media (hover: hover) {
  /* offer-carrousel */

  .offer-carrousel__left-arrow:hover,
  .offer-carrousel__right-arrow:hover {
    background-color: #45454578;
  }
  /* offer-carrousel */

  /*  */

  /* PHONES */
  .phone-section__brand:hover,
  .brand-selector-button:hover,
  .headphone-brand:hover {
    transition: color 0.3s;
    color: #676767;
  }
  .phone-section__card:hover {
    transition: scale(2) 0.2s;
  }

  /* PHONES */

  /*  */

  /* tvs */
  .tvs-nav span:hover {
    color: rgb(255 255 255);
  }
  .tvs-nav span:focus {
    color: rgb(255 255 255);
  }
  .tvs-nav span:active {
    color: rgb(255 255 255);
  }

  .color-white {
    transition: all 0.2s;
    border-bottom: 3px solid rgb(255, 255, 255);
  }

  /* buttons */
  .white-btn:hover {
    background-color: #c4c4c4;
  }

  .black-btn:hover,
  .computer-btn .black-btn:hover {
    background-color: #454545;
  }
  .white-btn:hover,
  .black-btn:hover,
  .computer-btn .black-btn:hover {
    transition: background-color 0.3s;
  }
  /* buttons */
}
