* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgba(173, 232, 232, 0.447);
}
header {
  background-color: #465a6c;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;
  align-items: center;
}

nav a {
  margin-left: 15px;
  color: rgb(137, 255, 131);
}

a {
  text-decoration: none;
}

.drop-icon {
  width: 10px;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
