* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(246, 245, 255);
}

/*        header            */
/*                          */

header {
  background-color: #ededed;
}

.product-nav {
  margin-left: 30px;
  color: rgb(137, 255, 131);
  background-color: none;
  padding: none;
  border-radius: none;
  transition: all 280ms;
}

.product-nav:hover {
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(109, 126, 222);
}

a {
  text-decoration: none;
}

.bars-menu {
  height: 32px;
  width: 26px;
  background-color: #f3f3f3;
  cursor: pointer;
}

.icon-nav {
  height: 24px;
}

.bars-menu span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(0, 0, 0);
  margin-top: 5px;
}

/* .search-input {
  padding: 10px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  border: 0px;
} */

/*                          */
/*        header            */

/* 






*/

/*            flex-box                   */
/*                                       */
.main-header {
  display: flex;
}

/*                                       */
/*            flex-box                   */

/* 






*/

/*            media queries              */
/*                                       */

/* @media and screen (max-width: 534px)  */
@media screen and (max-width: 534px) {
  /*        header            */
  /*                          */
  .navegation-products {
    display: none;
  }

  .main-header {
    justify-content: space-between;
    align-items: center;
  }
  .main-header div {
    margin: 0.5rem 0.5rem;
  }

  .bars-menu {
  }

  .main-header .logo-container {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .search-bar {
  }

  .user-navegation {
  }

  .bars-menu {
  }

  /*                          */
  /*        header            */
}

/*                                       */
/*               media queries           */
