
                                         /*formulario Login*/


.login-form {

   border: solid 1px rgb(130, 131, 143, 0.07);

}
.login-form h3
{
  text-align: center;
  margin-top: 30px;
  height: 50px;
  font-size: 20px;
}

.errores{
  color:red
}



.form{
  text-align: start;
  margin: 10px;

}

.ingresar , .volver{
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border: none;
  border-radius:10px ;
  font-size: 15px;
  background-color: rgba(246, 232, 232, 1);
}
.no-cuenta{
  text-align: center;
  margin-top: 20px;
}


.ingresar:hover{
  background-color: rgba(38, 70, 140, 0.592);
  -webkit-transition: background-color 0.10s linear;
  transition: background-color 0.10s linear;
  
}
.volver:hover{
  background-color: rgba(221, 45, 118, 0.334);
  -webkit-transition: background-color 0.10s linear;
  transition: background-color 0.10s linear;
  
}
.error{
  color: red;
}



/* medias queries*/
@media screen and (max-width: 534px){

  .options{
    text-align: center;
  }

.control{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

  
}


@media screen and (min-width: 535px) and (max-width: 990px){




.control{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}




.options{
  display: flex;
  justify-content: space-between;
}




  
 
}



@media screen and (min-width: 991px){
.login-form{
  width: 400px;

  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;

}

  .options{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
.control{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.ingresar:hover{
  background-color: rgba(38, 70, 140, 0.592);
  -webkit-transition: background-color 0.10s linear;
  transition: background-color 0.10s linear;
  font-size: 18px;
}
.volver:hover{
  background-color: rgba(221, 45, 118, 0.334);
  -webkit-transition: background-color 0.10s linear;
  transition: background-color 0.10s linear;
  font-size: 18px;
}



}