* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }

  @import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

main {
    
    width: 90%;
    margin: 60px auto;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
   
  }

  .product-list{
    width: 100%;
  }

  h1{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3em;
  }
 

  .main-article{
    margin: 20px auto;
    padding-bottom: 20px;
    width: 100%;
    
    border-bottom: solid black 2px;
    border-collapse: 0 0 20px 0 ;
   
  }

 
 
  .image-container{
    width: 100%;
    margin: 0;
    margin-bottom: -4px;
    
  }

  .product-container{
        display: flex;
        flex-wrap: wrap;

}
  
  main section article img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    height: 100%
    
  }



  .products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebebeb;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
    
  }
  .price{
    color: green;
    font-size:17px;
    text-align: center;
  }
  .list-none{
    font-size: 18px;
    transition: all 450ms;
  }

  li{
    list-style-type: none;
  }

  button {
    background-color: rgba(246, 232, 232, 1);
    border: #ddddddb4;
    color: BLACK;
    border-radius: 10px;
    padding: 10px 0px;
    width: 90%;
    margin: 10px 0;
    cursor: pointer;
    transition: all 450ms;
    text-align: center;
    align-self: center;
    
}

.list-none{
  display: none;
  transition: all 450ms;
}

.main-article:hover .list-none{
  display: block;
}


  

button:hover{
  background-color: rgba(38, 70, 140, 0.592);
  -webkit-transition: background-color 0.10s linear;
  transition: background-color 0.10s linear;;
}


.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

 
@media (min-width: 535px) {
    .main-article{
        width: 40%;
        transition: all 450ms;

    }

    .main-article:hover{
      scale: 1.04;
    }
   

    li{
        text-decoration: underline;
        width: 90%;
    }

    .products{
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }



}

@media (min-width: 990px) {

    .main-article{
        width: 22%;
    }

    .list-none{
        display: block;
        transition: all 450ms;
    }

    .main-article:hover .list-none{
        display: block;
    }

}